*.zip
*.p
*.gz
*.pickle
*.npy
*.pyc
__pycache__/
.ipynb_checkpoints

CarND-Behavioral-Cloning/bh_99lines.py
CarND-Behavioral-Cloning/Data/
CarND-Behavioral-Cloning/Simulators/
CarND-Behavioral-Cloning/WorkingModels/
CarND-Vehicle-Detection/data/
